# Case sensitive strings to match on
alertStrings   = [
                    "@example.com",
                    "@sub.example.com"
                  ]

# Case insensitive strings to match on
alertStringsCI = ["my company inc"]

# Domain that we will send email from
domain         = "example.com"

# Send email as?
# This must be a bare email address
sender          = "do-not-reply@example.com"

# Send email to?
# This must be a list of bare email addresses
recipients     = ["me@example.com"]

# Send email using which SMTP server?
# Must be un-authenticated
smtpServer     = "smtp.example.com"

### Other stuff that can probably be left alone

# Number of Haskell (lightweight) worker theads to spawn
# OS level threads are controlled by runtime options e.g.
# +RTS -N2 -RTS
# for two theads
# Total num threads = nthreads + two per site + 2
nthreads       = 32

# When getting a paste, pause for a period of up to
# pauseMax seconds to avoid "thundering herd" type
# issues
pauseMax       = 5
