# Alerting
#
# Define sets of strings which, if match, trigger an action (send email or write to DB)
#
# The special case where both
# alertStrings   = ["ALL"]
# alertStringsCI = ["ALL"]
# will ensure that all new pastes trigger

# Case sensitive strings to match on
alertStrings   = [
                    "@example.com",
                    "@sub.example.com"
                  ]

# Case insensitive strings to match on
alertStringsCI = ["my company inc"]

#### Email

# Should we send email alerts?
# If this is set to false, all other email params can be set to ""
logToEmail     = true

# Domain that we will send email from
domain         = "example.com"

# Send email as?
# This must be a bare email address
sender          = "do-not-reply@example.com"

# Send email to?
# This must be a list of bare email addresses
recipients     = ["me@example.com"]

# Send email using which SMTP server?
# Must be un-authenticated
smtpServer     = "smtp.example.com"

#### Database

# Should we log to the DB?
# If this is set to false, all other db params can be set to ""
logToDB        = false

# host for MongoDB master
dbHost         = "localhost"

# DB name
dbName         = "pastewatch"

### Debug logging
debugging      = true

### Other stuff that can probably be left alone

# Number of Haskell (lightweight) worker theads to spawn
# OS level threads are controlled by runtime options e.g.
# +RTS -N2 -RTS
# for two theads
# Total num threads = nthreads + two per site + 2
nthreads       = 32

# When getting a paste, pause for a period of up to
# pauseMax seconds to avoid "thundering herd" type
# issues
pauseMax       = 5
